# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# IDE
*.swp
*.swo
*~
.idea/
*.sublime-*

# Archives
*.xcarchive
*.zip
*.dmg

# Secrets
*.pem
*.p12
*.mobileprovision
